<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="0">
            <group id="flatrate_count" translate="label" type="text" sortOrder="1000" showInDefault="1">
                <label>Flat Rate (Extra) Methods Count</label>
                <field id="count" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Number of flat methods</label>
                    <validate>validate-number</validate>
                    <backend_model>Sumtsov\MultiFlatShipping\Model\Config\FlatRateCountBackend</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
